.contacts-block {
  position: relative;
  min-height: 337px;
  background: linear-gradient(90deg, $color-sapphire 0, $color-sapphire 50%, $color-default-white 50%, $color-default-white 100%);
  overflow-x: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 49.9%;
    height: 1px;
    display: block;
    background-color: $color-light-slate-grey;
  }

  @include vp-1199 {
    background: transparent;

    &::after {
      display: none;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include vp-1199 {
      padding: 0;
      grid-template-columns: 1fr;
    }
  }
}
