.header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 658px;
  padding: 30px 0 10px 0;
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  color: $color-default-white;

  @include vp-1199 {
    padding-top: 34px;
    padding-bottom: 30px;
    min-height: 554px;
    background: conic-gradient(from 155.49deg at 20.7% 35.74%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }

  @include vp-767 {
    padding-top: 16px;
    min-height: 491px;
    background: conic-gradient(from 167.26deg at 35.31% 34.22%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }
}

.header__header {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include vp-1199 {
    margin-bottom: 19px;
  }
}

.header__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  align-self: flex-start;
  font-family: $ff-Alumni-Sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    display: none;
    width: 97%;
    height: 1px;
    background-color: $color-default-white;

    transform: translateX(-50%);
  }

  @include vp-1199 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }

  @include hover-focus {
    &::after {
      display: block;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.header__logo-link {
  display: block;

  @include hover-focus {
    filter: drop-shadow(0 0 4px $color-default-white);
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-1199 {
    padding: 6px 0;
  }

  @include vp-767 {
    padding: 4px 0;
  }
}

.header__logo {
  display: block;
  width: 122px;
  height: 44px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 67px;
    height: 16px;
  }
}
