.membership {
  position: relative;
  width: 100%;
  min-height: 851px;
  padding-top: 117px;
  padding-bottom: 120px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 67px;
  }

  .container {
    position: relative;
  }

  h2 {
    margin-bottom: 7px;
    text-align: center;
    transform: translateX(-2px);

    @include vp-1199 {
      margin-bottom: 10px;
      transform: translateX(-7px);
    }

    @include vp-767 {
      transform: translateX(-5px);
    }
  }
}

.membership__card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 54px;
  margin: 0;
  padding: 0 7px;
  padding-bottom: 10px;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
    row-gap: 55px;
  }

  @include vp-767 {
    row-gap: 49px;
  }
}

.membership__card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 347px;
  padding: 50px 20px 62px 20px;
  background-color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -7px;
    left: -7px;
    display: block;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: $color-default-white;
  }

  @include vp-1199 {
    max-width: none;
    width: 64.5%;
    place-self: center;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 600px;
    padding-top: 44px;
    padding-bottom: 49px;
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;

    @include vp-1199 {
      margin-bottom: 5px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 9px;
    }
  }

  small {
    display: block;
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-chambray;

    @include vp-1199 {
      margin-bottom: 65px;
    }

    @include vp-767 {
      margin-bottom: 54px;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    &::after {
      background: linear-gradient(135deg, $color-crimson 0, $color-smalt 100%);
    }

    .membership__button {
      background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
      color: $color-default-white;

      &::after {
        border: none;
      }
    }
  }
}

.membership__price {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $ff-Roboto-Condensed;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 72px;

    transform: translateX(1px);
  }

  &::before {
    content: attr(data-price);
    position: absolute;
    bottom: -5px;
    display: block;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: $color-whisper;
    opacity: 0.48;

    @include vp-1199 {
      bottom: -5px;
    }

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
    }
  }

  span {
    position: relative;
    z-index: 2;
    margin-right: 14px;

    @include vp-767 {
      margin-right: 10px;
    }
  }

  svg {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 42px;
    flex-shrink: 0;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}

.membership__button {
  width: 206px;
  padding: 25px;
}

.membership__weights-wrapper {
  position: absolute;
  right: 0;
  bottom: -72px;
  overflow: hidden;
  display: block;
  width: 251px;
  height: 367px;

  @include vp-1199 {
    bottom: -59px;
    width: 311px;
    height: 321px;
  }

  @include vp-767 {
    display: none;
  }
}

.membership__weights {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
